<!DOCTYPE html>

<html lang="en">

    <head>
        <title>R3E Server Data</title>

        <meta name="description" content="RaceRoom ranked server monitor, which shows you players, cars, tracks, and more!">
        <meta name="keywords" content="RaceRoom, RRRE, R3E, ranked, Racing">
        <meta name="author" content="Yuval Rosen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>
        <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/favicon.png') }}">

        <!-- <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-42E1EPFFE8"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-42E1EPFFE8');
        </script>



        <script src="{{ url_for('static',filename='javascript/index.js') }}"></script>
        <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
        <style>
            .container {
                max-width: 1000px;
            }
        </style>

    </head>

    <body>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

        <script>
            let elem = document.createElement('div');
            elem.className = "sidebar";
            document.body.appendChild(elem);
            slide_time = getComputedStyle(elem).transitionDuration;
            document.body.removeChild(elem);

            slide_time = parseFloat(slide_time.substring(0, slide_time.indexOf('s'))) * 1000 + 100;
        </script>



        <!-- <h1 style="margin-left: 20px;">Live Ranked Servers:</h1> -->

        <script>
            statics_url = {{ url_for('static',filename='') }};
        </script>
        
        <div id="search-tools-wrapper">
            <div id="search-tools" style="display: flex; flex-flow: row wrap; min-height: 4vh; width: 100%;">
                <div style="display: flex; margin: 5px;">
                    <label for="regions">Region:</label>
                    <div class="dropdown">
                        <select name="regions" id="regions-dropdown" class="dropdown-select" onchange="applyFilters();">
                            <option value="all">All</option>
                            <option value="europe">Europe</option>
                            <option value="america">America</option>
                            <option value="oceania">Oceania</option>
                        </select>
                    </div>
                </div>
                
                <div style="display: flex; margin: 5px;">
                    <label for="levels">Level:</label>
                    <div class="dropdown">
                        <select name="levels" id="levels-dropdown" class="dropdown-select" onchange="applyFilters();">
                            <option value="all">All</option>
                            <option value="rookie">Rookie</option>
                            <option value="am">Amateur</option>
                            <option value="pro">Pro</option>
                        </select>
                    </div>
                </div>
                
                <div style="display: flex; margin: 5px;">
                    <label for="sort-by">Sort By:</label>
                    <div class="dropdown">
                        <select name="sort-by" id="sort-by-dropdown" class="dropdown-select" onchange="applyFilters(false, true);">
                            <option value="players">Player Count</option>
                            <option value="time">Time Left</option>
                            <option value="session">Session</option>
                        </select>
                    </div>

                    <label id="reverse-label">
                        <input id="reverse-order-checkbox" type="checkbox" onchange="applyFilters(false, true);"/>
                        <img src="{{ url_for('static',filename='/images/reverse_order.png') }}" alt="reverse_order" style="height: 4vh;" id="reverse-order">
                    </label>
                </div>
                
                
            </div>
            <!-- <img src="{{ url_for('static',filename='/images/search_icon.png') }}" alt="search_icon" style="height: 4vh; position: absolute; right: 40px;" id="search_icon" onclick="applyFilters();"> -->
        </div>


        <div style="margin: 20px; margin-top: 30px; display: flex;" class="auto-refresh">
            <h3 style="margin: 0; margin-right: 20px; font-size: 35px;">Auto-Refresh</h3>
            <label class="switch" style="margin-top: 5px;">
                <input type="checkbox" id="auto-refresh" onchange="autoRefreshEnableDisable();">
                <span class="slider round"></span>
            </label>
            <h3 id="auto-refresh-countdown" style="margin: 0; margin-left: 20px; font-size: 35px;"></h3>
        </div>

        <br>
        


        <div id="race-list" style="width: 100vw;">
            <h1 style="text-align: center !important; margin-top: 20%;">Loading...</h1>
        </div>
        

        <div class="sidebar" id="loading-sidebar">
            <center>
                <img class="close-button" onclick="close_sidebar();" src="{{ url_for('static',filename='images/close_button.png') }}" alt="close_button">
            </center>
            <h1 style="text-align: center !important; margin-top: 40%;">Loading...</h1>
        </div>
        

        <div class="sidebar" id="main-sidebar" style="display: flex; flex-flow: column; height: 100%;">

            <div style="height: var(--sidebar-header-height);">
                <center>
                    <img class="close-button" onclick="close_sidebar();" src="{{ url_for('static',filename='images/close_button.png') }}" alt="close_button">
                </center>
                
                <br>
                <center>
                    <div class="tabs">
                        <div id="tab1" class="tab selected" onclick="moveToFirst()">General</div>
                        <div id="tab2" class="tab" onclick="moveToSecond()">Drivers</div>
                    </div>
                </center>
            </div>
            
            
            <div id="slide">
                <div id="general-info">
                    <div id="sidebar-main-details" class="sidebar-section">
                        <div id="sidebar-track-details" style="display: flex; position: relative; height: 13vh;">
                            <div id="sidebar-track-logo" style="flex: 1;"></div>
                            <div id="sidebar-track-text" style="flex: 3; padding-left: 30px !important; display: flex; flex-direction: column; justify-content: center;">
                                <h2 id="sidebar-track-name" style="margin: 0px;"></h2>
                                <h3 id="sidebar-track-layout" style="margin: 0px; margin-top: 10px;"></h3>
                            </div>
                            <div id="sidebar-track-map" style="flex: 1;"></div>
                        </div>
                        
                        <div id="sidebar-classes"></div>

                        <div id="sidebar-player-details" style="display: flex; margin-top: 10px;">
                            <div id="sidebar-drivers-text" class="two-line-data" style="flex: 1;">
                                <h3 class="sidebar-header" style="text-align: center !important;">Drivers</h2>
                                <h3 id="sidebar-driver-count" style="text-align: center !important;"></h3>
                            </div>

                            <div id="sidebar-sof-text" class="two-line-data" style="flex: 1;">
                                <h3 class="sidebar-header" style="text-align: center !important;">S.o.F</h3>
                                <h3 id="sidebar-sof" style="text-align: center !important;"></h3>
                            </div>

                            <div id="sidebar-rep-text" class="two-line-data" style="flex: 1;">
                                <h3 class="sidebar-header" style="text-align: center !important;">Reputation</h3>
                                <h3 id="sidebar-rep" style="text-align: center !important;"></h3>
                            </div>
                        </div>
                    </div>

                    <div id="sidebar-time-details" class="sidebar-section">
                        <div id="sidebar-session-details" style="display: flex; margin-top: 10px;">

                            <div id="sidebar-session-text" class="two-line-data" style="flex: 1;">
                                <h3 class="sidebar-header" style="text-align: center !important;">Session</h3>
                                <h3 id="sidebar-session" style="text-align: center !important;"></h3>
                            </div>

                            <div id="sidebar-countdown" class="two-line-data" style="flex: 1;">
                                <h3 class="sidebar-header" style="text-align: center !important;">Time Left</h3>
                                <div class="countdown" style="display: flex;">
                                    <h3 id="sidebar-minutes" style="margin-top: 11px;"></h3>
                                    <h3 id="sidebar-seconds" style="margin-top: 11px;"></h3>
                                </div>
                            </div>
                        </div>


                        <div id="sidebar-duration-details" style="display: flex; margin-top: 10px;">
                            <div id="sidebar-p-dur-text" class="two-line-data" style="flex: 1;">
                                <h3 class="sidebar-header" style="text-align: center !important;">P</h3>
                                <h3 id="sidebar-p-dur" style="text-align: center !important;"></h3>
                            </div>
                            
                            <div id="sidebar-q-dur-text" class="two-line-data" style="flex: 1;">
                                <h3 class="sidebar-header" style="text-align: center !important;">Q</h3>
                                <h3 id="sidebar-q-dur" style="text-align: center !important;"></h3>
                            </div>
                            
                            
                        </div>
                    </div>

                    <div id="sidebar-race-details" class="sidebar-section" style="margin-bottom: 40px;">
                        <div id="sidebar-race-settings-1" style="display: flex; margin-top: 10px;">
                            <div id="sidebar-tirewear-text" class="two-line-data" style="flex: 1;">
                                <h3 class="sidebar-header" style="text-align: center !important;">Tire Wear</h3>
                                <h3 id="sidebar-tirewear" style="text-align: center !important;"></h3>
                            </div>

                            <div id="sidebar-fuelusage-text" class="two-line-data" style="flex: 1;">
                                <h3 class="sidebar-header" style="text-align: center !important;">Fuel Usage</h3>
                                <h3 id="sidebar-fuelusage" style="text-align: center !important;"></h3>
                            </div>
                        </div>

                        <div id="sidebar-race-settings-2" style="display: flex; margin-top: 10px;">
                            <div id="sidebar-mandatorypit-text" class="two-line-data" style="flex: 1;">
                                <h3 class="sidebar-header" style="text-align: center !important;">Mandatory Pit</h3>
                                <h3 id="sidebar-mandatorypit" style="text-align: center !important;"></h3>
                            </div>

                            <div id="sidebar-cutrules-text" class="two-line-data" style="flex: 1;">
                                <h3 class="sidebar-header" style="text-align: center !important;">Cut Rules</h3>
                                <h3 id="sidebar-cutrules" style="text-align: center !important;"></h3>
                            </div>
                        </div>
                    </div>
                
                </div>

                <div id="driver-info" style="width: 100%; text-align: center;"></div>
            </div>

            <!-- height: var(--sidebar-footer-height); -->
            <div id="sidebar-footer" style="height: var(--sidebar-footer-height); display: flex; align-items: center; justify-content: center;">
                <button onclick="joinFocusedServer()">Join Server</button>
            </div>
        </div>


        <script>
            update_times();
        </script>



        <br>
        {% for error in errors %}
        <h4>{{ error }}</h4>
        {% endfor %}

        
    </body>

</html>