@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;800;900&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    background-color: rgb(66, 66, 66);
}

h1 {
    text-align: left !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 70px;
    color: white;
}

h2 {
    text-align: left !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: white;
}

h3 {
    /* text-align: left; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: white;
}

div {
    padding: 0 !important;
    /* margin: 0; */
}

:root {
    --sidebar-width: 40vw;
    --race-container-width: 98vw;
}


.thumbnail {
    display: none;
}

@media only screen and (max-width: 1400px) {
    :root {
        --sidebar-width: 50vw;
    }
    .thumbnail {
        display: none;
    }
    .server-details {
        height: 12vh;
    }
    .race-data {
        height: 140px;
    }
    #slide {
        height: calc(100vh - var(--sidebar-header-height)) !important;
    }
    #sidebar-footer {
        display: none !important;
    }
    .track-car {
        height: 250px !important;
    }
    #sidebar-track-details {
        height: 18vh !important;
        margin-bottom: 6vh;
    }
    #sidebar-track-logo {
        display: none !important;
        flex: 0 !important;
    }
    #sidebar-classes {
        width: 90% !important;
        left: 5% !important;
    }
    #sidebar-races-completed {
        display: none !important;
        flex: 0 !important;
    }
    .driver-country {
        margin-right: 0px !important;
    }
}

@media screen and (max-width: 500px) {
    #sidebar-track-map {
        display: none !important;
        flex: 0 !important;
    }
}

@media only screen and (max-width: 579px) {
    /* .race-container {
        width: 98vw !important;
    } */
    :root {
        --race-container-width: 98vw !important;
    }
}

@media screen and (max-width: 850px) {
    .auto-refresh h3 {
        font-size: 25px !important;
        font-weight: 400;
        margin-top: 5px !important;
    }
}

@media only screen and (max-width: 1120px) {
    :root {
        --sidebar-width: 100vw;
    }
    #sidebar-footer {
        display: none !important;
    }
}


@media only screen and (min-width: 580px) and (max-width: 900px) {
    /* .race-container {
        width: 98vw !important;
    } */
    :root {
        --race-container-width: 47vw !important;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1169px) {
    /* .race-container {
        width: 48vw !important;
    } */
    :root {
        --race-container-width: 31.33vw !important;
    }
}

@media only screen and (min-width: 1170px) and (max-width: 1580px) {
    /* .race-container {
        width: 31.33vw !important;
    } */
    :root {
        --race-container-width: 23vw !important;
    }

    .track-car {
        height: 230px !important;
    }
}

@media only screen and (min-width: 1581px) and (max-width: 2039px) {
    :root {
        --race-container-width: 18vw;
    }

    .track-car {
        height: 250px !important;
    }

    /* .race-container {
        width: 23vw;
    } */
}

@media only screen and (min-width: 2040px) and (max-width: 2469px) {
    /* .race-container {
        width: 18vw;
    } */
    :root {
        --race-container-width: 18vw;
    }
    .track-car {
        height: 230px !important;
    }
}

@media only screen and (min-width: 2470px) {
    /* .race-container {
        width: 15vw;
    } */
    :root {
        --race-container-width: 13.6vw;
    }

    .track-car {
        height: 200px !important;
    }

    .race-container {
        margin: 0.5vw !important;
    }
}


#race-list {
    min-height: 100vh;
}


.invisible {
    display: none !important;
}

.race-container {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 0px;
    padding-right: 20px;
    margin: 1vw;
    /* display: inline-block; */
    float: left;
    box-shadow: 5px 5px 50px rgb(14, 14, 14);
    transition: transform 0.3s;
    width: calc(var(--race-container-width) - 12px);
}

.race-container:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.race-container h2 {
    font-weight: 400;
    font-size: calc((var(--race-container-width) - 12px) / 20);
    margin: 0 !important;
}

.race-container p {
    margin-top: 20px;
    color: rgb(99, 99, 99);
    font-weight: 500;
    font-size: 100%;
}



.thumbnail {
    flex: 1;
}

.server-details {
    flex: 2;
}

.name-level {
    width: calc(100% - 10px);
    margin-top: 10px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.level-img {
    height: 90%;
}

.countdown p {
    font-size: 120% !important;
}


/* Search tools: */

#search-tools-wrapper {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    background-color: white;
    padding: 1vh !important;
    border-radius: 5px;
    min-height: 6vh;
    margin: 20px;
    display : flex;
    align-items : center;
}

#search-tools {
    align-items : center;
}

#search-tools label {
    display: flex;
    align-items: center;
}

.dropdown {
    margin-right: 20px;
    margin-left: 10px;
    /* margin-bottom: 8px; */
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 4vh;
    background: #d8d8d8;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
}

.dropdown:before,
.dropdown:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
}

.dropdown:before {
    border-bottom-style: solid;
    border-top: none;
}

.dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
}

.dropdown-select {
    position: absolute;
    vertical-align: middle;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 100%;
    /* line-height: 14px; */
    font-size: 15px;
    color: #5c5c5c;
    /* text-shadow: 0 1px white; */
    background: #f2f2f2;
    /* Fallback for IE 8 */
    background: rgba(0, 0, 0, 0) !important;
    /* "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

.dropdown-select:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: none;
}

.dropdown-select>option {
    margin: 3px;
    font-size: 20px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
}


#reverse-label {
    cursor: pointer;
    height: 100%;
}

#reverse-label img {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

input {
    display: none;
}

:checked + img {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

#search_icon:hover {
    cursor: pointer;
}




/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
    z-index: 1;
}

.lt-ie9 .dropdown-select {
    z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
    z-index: 3;
}


/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
    .dropdown-select {
        padding-left: 6px;
    }
}







/* Images: */

.car-icon {
    width: 35px;
    height: 45px;
    margin-top: 5px;
    margin-right: 7px;
}

.clock-icon {
    margin-top: 12px;
    margin-right: 8px;
    width: 31px;
    height: 35px;
}

.track-car {
    position: relative;
    width: 100%;
    height: 400px;
}

.track-img {
    position: relative;
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.logo-row-item {
    flex: 0 1 auto;
    max-height: 100%;
    max-width: 100%;
    min-height: 0;
    min-width: 0;
}

.track-logo {
    max-height: calc(100% - 30px);
    margin: 5px;
    background-color: white;
    padding: 5px;
    -webkit-filter: drop-shadow(2px 2px 8px rgb(50, 50, 50));
    filter: drop-shadow(2px 2px 8px rgb(50, 50, 50));
}

.twitch-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15%;
    -webkit-filter: drop-shadow(2px 2px 8px rgb(50, 50, 50));
    filter: drop-shadow(2px 2px 8px rgb(50, 50, 50));
}

.no-twitch {
    display: none;
}

.class-img {
    margin: 0;
    -webkit-filter: drop-shadow(2px 2px 8px rgb(50, 50, 50));
    filter: drop-shadow(2px 2px 8px rgb(50, 50, 50));
}

.circle {
    left: 20px;
    bottom: 20px;
    background-color: white;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    min-width: 1.25em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    box-shadow: 1px 1px 50px rgb(71, 71, 71);
}

.circle:after {
    content: '';
    padding-top: 100%;
    display: table;
}

.driver-count {
    display: flex;
}

.session {
    margin-left: 10px;
    display: flex;
}


/* Countdown: */

.countdown {
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.countdown p {
    text-transform: uppercase;
}


/* Sidebar: */

.sidebar {
    /* display: none; */
    position: fixed;
    z-index: 10;
    width: var(--sidebar-width);
    height: 100%;
    right: calc(0px - var(--sidebar-width) - 25px);
    top: 0;
    background-color: black;
    box-shadow: 1px -2px 25px black;
    overflow: hidden;
    transition: right 0.5s;
}

.sidebar h2 {
    text-align: left !important;
    font-size: 30px;
}

.sidebar h3 {
    font-size: 20px;
}

#sidebar-track-details>h3 {
    text-align: left !important;
}

.sidebar-track-logo {
    background-color: white;
    /* width: 100%; */
    height: 100%;
    left: 0;
}

.sidebar-track-map {
    /* width: 100%; */
    height: 100%;
    right: 0;
}

.sidebar-section {
    background-color: rgb(60, 60, 60);
    border-radius: 5px;
    margin: 20px;
    padding: 30px !important;
}

.two-line-data {
    text-align: center !important;
    display: inline;
}

.sidebar-header {
    font-weight: 600;
}

#sidebar-refresh-ping:hover {
    cursor: pointer;
}

.link, .twitch-link {
    color:rgb(170, 170, 255);
}

.link:visited, .twitch-link:visited {
    color:rgb(170, 170, 255);
}

#sidebar-classes {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 60%;
    position: relative;
    left: 20%;
}

.sidebar .class-img {
    position: relative;
    bottom: auto;
    left: auto;
    vertical-align: middle;
    width: auto;
    height: 10vh;
    display: inline-block;
    margin: 5px;
}

.sidebar .track-img {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    object-fit: auto;
}

.close-button {
    position: relative;
    width: calc(20px + 4%);
    top: 20px;
    margin-bottom: 10px;
}

.close-button:hover {
    cursor: pointer;
}

.sidebar-driver-details {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px !important;
    padding-left: 0px !important;
    padding-bottom: 7px !important;
}

.sidebar-driver-details:hover {
    cursor: pointer;
}

.driver-line {
    display: flex;
}

.driver-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: black;
}

#sidebar-footer button {
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    border: none;
    width: 40%;
    height: 75%;
    border-radius: 20px;
    outline: black solid 1px;
    transition: outline-color 0.15s;
}

#sidebar-footer button:hover {
    cursor: pointer;
    outline: white solid 1px;
}


/*
height: 20px - close-button top,
        10px - close-button margin-bottom,
        44px - tabs div height,
        10px - tabs div margin-bottom,
        (20px + 4vw) - close-button height,
*/

:root {
    --sidebar-header-height: calc(20px + 10px + 20px + 44px + 10px + (20px + 4vw));
    --sidebar-footer-height: calc(12vh);
}


/* Tabs: */

.tabs {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.tab {
    height: 40px;
    width: 50%;
    border: none;
    line-height: 40px;
    text-align: center;
    font-size: 20pt;
    float: left;
    cursor: pointer;
    color: lightgray;
}

.selected {
    color: rgb(220, 220, 220);
    border-bottom: 4px solid white;
}

#container {
    position: relative;
    width: 400px;
    height: 200px;
    overflow: hidden;
    clear: left;
}

.box {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    width: 400px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 28pt;
    cursor: pointer;
}

#general-info {
    flex: 1;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

#driver-info {
    flex: 1;
    top: 0px;
    left: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#slide {
    width: 200%;
    height: calc(100vh - var(--sidebar-header-height) - var(--sidebar-footer-height));
    display: flex;
    /* overflow: hidden; */
    transition: transform 0.3s ease-in-out 0s;
    -moz-transition: -moz-transform 0.3s ease-in-out 0s;
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
}

.move-to-first {
    transform: translateX(0px);
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

.move-to-second {
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}


/* Auto-refresh toggle */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    background-color: #ccc;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    /* -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); */
    left: 30px;
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.sidebar-team {
    position: relative;
}

.twitch-embed-container {
    display: block;
    position: absolute;
    top: 0px;
    height: 20px;
    width: 100%;
}

.twitch-embed {
    position: absolute;
    left: calc(-0.15 * var(--sidebar-width));
    top: 19px;
    width: calc(var(--sidebar-width) * 0.6);
    height: calc(var(--sidebar-width) * 0.6 / 1.77);
    transition: transform 0.2s;
    transform: scale(0,0);
    transform-origin: top;
}

.twitch-embed-container:hover .twitch-embed {
    z-index: 3;
    transform: scale(1,1);
}

.twitch-embed:hover {
    display: block;
}